
.conteiner {
    display: flex;
    background-color: #b61924;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
    border: solid white;
    background-color: #8f121a;
    border-radius: 20px;
    padding: 35px;
}

p {
    font-family:  'Roboto', sans-serif;
    font-size: 35px;
    margin-right: 10px;
}

.brojac {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: white;
}

.tajmer {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
}